Repository oussamac90/pcs-s2jdkl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @security-team, @devops-team, @database-team, @platform-team, @sre-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for review
* @project-leads

# Backend application components
/src/backend/ @backend-team

# Frontend application components 
/src/web/ @frontend-team

# Security-sensitive components require dual-team review
/src/backend/src/main/java/com/pcs/vcms/security/ @security-team @backend-team

# Infrastructure and cloud configurations
/infrastructure/ @devops-team

# CI/CD workflow configurations
/.github/workflows/ @devops-team

# Database migrations require both teams
/src/backend/src/main/resources/db/migration/ @database-team @backend-team

# Kubernetes configurations require platform team review
/infrastructure/kubernetes/ @devops-team @platform-team

# Monitoring configurations require SRE review
/infrastructure/monitoring/ @devops-team @sre-team

# Frontend dependency management
package.json @frontend-team

# Backend build configuration
build.gradle @backend-team

Add public-samples/pcs-s2jdkl/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/pcs-s2jdkl/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/pcs-s2jdkl/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/pcs-s2jdkl/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team

Add public-samples/pcs-s2jdkl/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team

Add public-samples/pcs-s2jdkl/.github/workflows/pr-checks.yml
  .github/workflows/pr-checks.yml
Owners: @devops-team

Add public-samples/pcs-s2jdkl/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team

Add public-samples/pcs-s2jdkl/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/pcs-s2jdkl/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/pcs-s2jdkl/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/pcs-s2jdkl/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/configmap.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/frontend-deployment.yaml
  infrastructure/kubernetes/frontend-deployment.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/frontend-service.yaml
  infrastructure/kubernetes/frontend-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/horizontal-pod-autoscaler.yaml
  infrastructure/kubernetes/horizontal-pod-autoscaler.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/network-policies.yaml
  infrastructure/kubernetes/network-policies.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/persistent-volume-claims.yaml
  infrastructure/kubernetes/persistent-volume-claims.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/prometheus-rules.yaml
  infrastructure/kubernetes/prometheus-rules.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/redis-service.yaml
  infrastructure/kubernetes/redis-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/redis-statefulset.yaml
  infrastructure/kubernetes/redis-statefulset.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/service-monitor.yaml
  infrastructure/kubernetes/service-monitor.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/kubernetes/storage-class.yaml
  infrastructure/kubernetes/storage-class.yaml
Owners: @devops-team, @platform-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/alertmanager/alertmanager.yml
  infrastructure/monitoring/alertmanager/alertmanager.yml
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/grafana-dashboards/berth-utilization.json
  infrastructure/monitoring/grafana-dashboards/berth-utilization.json
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/grafana-dashboards/service-bookings.json
  infrastructure/monitoring/grafana-dashboards/service-bookings.json
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/grafana-dashboards/system-metrics.json
  infrastructure/monitoring/grafana-dashboards/system-metrics.json
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/grafana-dashboards/vessel-calls.json
  infrastructure/monitoring/grafana-dashboards/vessel-calls.json
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/loki/loki.yml
  infrastructure/monitoring/loki/loki.yml
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/prometheus/alert-rules.yml
  infrastructure/monitoring/prometheus/alert-rules.yml
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/monitoring/promtail/promtail.yml
  infrastructure/monitoring/promtail/promtail.yml
Owners: @devops-team, @sre-team

Add public-samples/pcs-s2jdkl/infrastructure/nginx/nginx.conf
  infrastructure/nginx/nginx.conf
Owners: @devops-team

Add public-samples/pcs-s2jdkl/infrastructure/nginx/security-headers.conf
  infrastructure/nginx/security-headers.conf
Owners: @devops-team

Add public-samples/pcs-s2jdkl/infrastructure/nginx/ssl.conf
  infrastructure/nginx/ssl.conf
Owners: @devops-team

Add public-samples/pcs-s2jdkl/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team

Add public-samples/pcs-s2jdkl/infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @devops-team
