Repository oussamac90/pcs-s2jdkl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @frontend-team, @security-team, @devops-team, @database-team, @platform-team, @sre-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/PreArrivalService.java
  src/backend/src/main/java/com/pcs/vcms/service/PreArrivalService.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/ServiceBookingService.java
  src/backend/src/main/java/com/pcs/vcms/service/ServiceBookingService.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/VesselCallService.java
  src/backend/src/main/java/com/pcs/vcms/service/VesselCallService.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/impl/BerthAllocationServiceImpl.java
  src/backend/src/main/java/com/pcs/vcms/service/impl/BerthAllocationServiceImpl.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/impl/ClearanceServiceImpl.java
  src/backend/src/main/java/com/pcs/vcms/service/impl/ClearanceServiceImpl.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/impl/NotificationServiceImpl.java
  src/backend/src/main/java/com/pcs/vcms/service/impl/NotificationServiceImpl.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/impl/PreArrivalServiceImpl.java
  src/backend/src/main/java/com/pcs/vcms/service/impl/PreArrivalServiceImpl.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/impl/ServiceBookingServiceImpl.java
  src/backend/src/main/java/com/pcs/vcms/service/impl/ServiceBookingServiceImpl.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/service/impl/VesselCallServiceImpl.java
  src/backend/src/main/java/com/pcs/vcms/service/impl/VesselCallServiceImpl.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/util/BerthAllocationAlgorithm.java
  src/backend/src/main/java/com/pcs/vcms/util/BerthAllocationAlgorithm.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/util/Constants.java
  src/backend/src/main/java/com/pcs/vcms/util/Constants.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/util/DateTimeUtils.java
  src/backend/src/main/java/com/pcs/vcms/util/DateTimeUtils.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/java/com/pcs/vcms/util/ValidationUtils.java
  src/backend/src/main/java/com/pcs/vcms/util/ValidationUtils.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/application-dev.yml
  src/backend/src/main/resources/application-dev.yml
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/application-prod.yml
  src/backend/src/main/resources/application-prod.yml
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/application-staging.yml
  src/backend/src/main/resources/application-staging.yml
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/application.yml
  src/backend/src/main/resources/application.yml
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/logback-spring.xml
  src/backend/src/main/resources/logback-spring.xml
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/db/migration/V1__init.sql
  src/backend/src/main/resources/db/migration/V1__init.sql
Owners: @database-team, @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/db/migration/V2__add_vessel_tables.sql
  src/backend/src/main/resources/db/migration/V2__add_vessel_tables.sql
Owners: @database-team, @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/db/migration/V3__add_berth_tables.sql
  src/backend/src/main/resources/db/migration/V3__add_berth_tables.sql
Owners: @database-team, @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/db/migration/V4__add_service_tables.sql
  src/backend/src/main/resources/db/migration/V4__add_service_tables.sql
Owners: @database-team, @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/main/resources/db/migration/V5__add_clearance_tables.sql
  src/backend/src/main/resources/db/migration/V5__add_clearance_tables.sql
Owners: @database-team, @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/VesselCallManagementApplicationTests.java
  src/backend/src/test/java/com/pcs/vcms/VesselCallManagementApplicationTests.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/controller/BerthAllocationControllerTest.java
  src/backend/src/test/java/com/pcs/vcms/controller/BerthAllocationControllerTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/controller/ClearanceControllerTest.java
  src/backend/src/test/java/com/pcs/vcms/controller/ClearanceControllerTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/controller/PreArrivalControllerTest.java
  src/backend/src/test/java/com/pcs/vcms/controller/PreArrivalControllerTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/controller/ServiceBookingControllerTest.java
  src/backend/src/test/java/com/pcs/vcms/controller/ServiceBookingControllerTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/controller/VesselCallControllerTest.java
  src/backend/src/test/java/com/pcs/vcms/controller/VesselCallControllerTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/service/BerthAllocationServiceTest.java
  src/backend/src/test/java/com/pcs/vcms/service/BerthAllocationServiceTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/service/ClearanceServiceTest.java
  src/backend/src/test/java/com/pcs/vcms/service/ClearanceServiceTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/service/PreArrivalServiceTest.java
  src/backend/src/test/java/com/pcs/vcms/service/PreArrivalServiceTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/service/ServiceBookingServiceTest.java
  src/backend/src/test/java/com/pcs/vcms/service/ServiceBookingServiceTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/java/com/pcs/vcms/service/VesselCallServiceTest.java
  src/backend/src/test/java/com/pcs/vcms/service/VesselCallServiceTest.java
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/backend/src/test/resources/application-test.yml
  src/backend/src/test/resources/application-test.yml
Owners: @backend-team

Add public-samples/pcs-s2jdkl/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/pcs-s2jdkl/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/pcs-s2jdkl/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/pcs-s2jdkl/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/pcs-s2jdkl/src/web/angular.json
  src/web/angular.json
Owners: @frontend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for review
* @project-leads

# Backend application components
/src/backend/ @backend-team

# Frontend application components 
/src/web/ @frontend-team

# Security-sensitive components require dual-team review
/src/backend/src/main/java/com/pcs/vcms/security/ @security-team @backend-team

# Infrastructure and cloud configurations
/infrastructure/ @devops-team

# CI/CD workflow configurations
/.github/workflows/ @devops-team

# Database migrations require both teams
/src/backend/src/main/resources/db/migration/ @database-team @backend-team

# Kubernetes configurations require platform team review
/infrastructure/kubernetes/ @devops-team @platform-team

# Monitoring configurations require SRE review
/infrastructure/monitoring/ @devops-team @sre-team

# Frontend dependency management
package.json @frontend-team

# Backend build configuration
build.gradle @backend-team
